@font-face {
    font-family: 'pixelfont';
    src:  url('./Pixel-Art.woff') format('woff');
  }
body{
    background-image: url(background.png);
    font-family: 'pixelfont';
}
#main-content{
    background-color: #ff6347c2;
    text-align: center;
    width: 700px;
    margin: auto;
    margin-top: 100px;
}
#gridContainer{
    margin: auto;
    display: grid;
    width: 600px;
    height: 600px;
    border: solid black 0.5px;
}
#cm_display{
    background-color: #ff000000;
    border: none;
    text-align: center;
    font-family: 'pixelfont';
    font-size: 30px;
    width: 50px;
    height: 30px;
}
.displat_buttons{
    border:solid black 10px;
    background-color: tomato;
    width: 50px;
    height: 50px;
    font-family: 'pixelfont';
    font-size: 25px;
    font-weight: 700;
}
.button{
    font-family: 'pixelfont';
    font-size: medium;
    border: solid 10px;
    background-color: tomato;
    width: 200px;
    height: 50px;
}
.grid_cell{
    border: solid black 0.5px;
    background-color: white;
}
.grid_cell_on{
    background-color: black;
}
.press_color_selector{
    background-color: blueviolet;
}
.press_grid_selector{
    background-color: teal;
}